*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-image: url('todo.jpg');
  background-repeat: no-repeat;
  background-size: cover; 
  height: 100vh;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* width: calc(100% - 12px); */