*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: Roboto, sans-serif;
  background-image: url('todo.jpg');
  background-repeat: no-repeat;
  background-size: cover; 
  height: 100vh;
}

.todo_form{
  text-align: center;
   padding: 2rem;
}
.todo_result{
  display: 'flex';
  justify-content: 'center';
}
/* width: calc(100% - 12px); */

/* // responsive part */
@media (max-width:667px) {
  
}
